alias drun='deno run'
alias sa='source .aliases'
alias se='source .env'

# misc
alias dbuild='deno run --allow-read --allow-write --allow-run src/1-codgen-lib/builder.gen.ts'
alias dflow='deno run --allow-write --allow-run src/3-import-history/history-to-code.ts'
alias dmain='deno run src/main.ts'

# legacy
alias dflow-old='deno run --allow-write src/99-import-from-ui/uiToCode.ts'
alias dgen='deno run --allow-read --allow-write --allow-env --allow-net src/99-generate-interfaces/nodes.gen.ts'