.vite
tmp
.env
node_modules
xformers
dts
/dist

# mac
.DS_Store

# in case of local ComfyUI clone
ComfyUI

# legacy-release files
website/static/0.0.3-2023-03-19-index.html

# electron
out


# keep .cushy folder
outputs/*
!outputs/.gitkeep

# keep .schema folder
schema/*
!schema/.gitkeep

cushy.db
cushy*.db
cushy*.db.backup

*.vsix

.disabled

CONFIG.json
global.d.ts
tsconfig.custom.json

library/*
!library/CushyStudio
!library/_doc

.cushy/
src/theme/theme-rvion.css
