.vite
tmp
.env
node_modules
xformers
dts
/dist

# mac
.DS_Store

# in case of local ComfyUI clone
ComfyUI
!src/comfyui

# electron
out

# keep .cushy folder
outputs/*
!outputs/.gitkeep

# keep .schema folder
schema/globa.d.ts
schema/hosts/*
!schema/hosts/virtual-base
!schema/hosts/virtual-full

cushy.db
cushy*.db
cushy*.db.backup

src/db/cushy*.db
src/db/cushy*.db-shm
src/db/cushy*.db-wal

*.vsix

.disabled

CONFIG.json
global.d.ts
!src/utils/global.d.ts

library/local/*
!library/local/.gitkeep

library/installed/*
!library/installed/.gitkeep

library/legacy
library/**/dist

.cushy/**/*.json

src/theme/theme-rvion.css

site/_site
site/site
lib
lib.old

.cushy/store

docs/ex

logs/
*.log

# release folder for forms
release-forms/*

# release folder for cushy
release/main.css
release/meta.json
release/output.css
release/main.js

.cushy

.env
node-*.tar.gz
*.sqbpro


completions/*
settings/*.json

# Explicitly include specific CSV files
!completions/danbooru_2_000.csv
!completions/danbooru_100_000.csv
!completions/danbooru.csv
!completions/danbooru_nsfw.csv
!completions/e621.csv
!completions/e621_nsfw.csv

tsconfig.tsbuildinfo
.tsbuildinfo

src/tools/cushy-screenshots-logs.txt

@cushy/*
@cushy.zip

eslint.config.debug.json

autotype.summary.txt
src/theme/twin.css
