# ignore all
# idea from https://github.com/microsoft/vscode-mono-debug/blob/main/.vscodeignore
*
*/**
**/.DS_Store

# keep readme and chagelog
!README.md
!CHANGELOG.md
!LICENSE.txt

# keep extension (back)
!dist/extension.js

# keep extension (front)
!dist/webview/assets/index.css
!dist/webview/assets/index.js
!dist/webview/CushyLogo.png

# keep logo
!public/CushyLogo.png
