# ignore all
# idea from https://github.com/microsoft/vscode-mono-debug/blob/main/.vscodeignore

.DS_Store

# keep readme and chagelog
.vscode
*.vsix
docs
dts
node_modules
# public
resources
scripts
src
tmp

index.html
tsconfig.decl.json
tsconfig.json
tsconfig.node.json
vite.config.ts

dist/extension.js.map
dist/meta.json