body {
    margin: 0;
    padding: 0;
    background-color: #383838;
    font-family: 'Roboto', sans-serif;
}

* { box-sizing: border-box;}

/* COLORS --------------------------------------- */
.g-loaders { background-color: #446011 }
.g-latent { background-color: #464689 }
.g-latent-transform {  background-color: #464689 }
.g-conditioning { background-color: #481413 }
.g-conditioning-style_model {  background-color: #0d430d }
.g-sampling { background-color: #634a1b}
.g-image { background-color: #541a54}

/* UTILS ---------------------------------------- */
.h100 { height: 100%; }
.gap { gap: .7rem }
.gap1 { gap: .3rem }
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
.grow { flex-grow: 1; }
.wrap { flex-wrap: wrap; }
.float-left { float: left; }
.absolute { position: absolute; }
.right-0 { right: 0; }
.right-1 { right: .5rem; }
.relative { position: relative; }
.float-right { float: right; }
.space-between { justify-content: space-between; }
.justify-end { justify-content: flex-end; }
.items-center { align-items: center; }
.items-start { align-items: flex-start; }
.items-baseline { align-items: baseline; }
.content-center {justify-content: center; }
.self-stretch { align-self: stretch; }
.self-start { align-self: flex-start; }
.p { padding: .6rem; }
.px { padding-left: .6rem; padding-right: .6rem; }
.py { padding-top: .6rem; padding-bottom: .6rem; }
.darker { filter: brightness(.9); }
.pointer { cursor: pointer; }
.light {color: gray;}
.mono {font-family: monospace;}

/* Wrapper ------------------------------------- */
html, body, #root {height: 100%;}
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* WELCOME SCREEN ---------------------------------------- */
.welcome-popup  {
    background-color: #a1a0a0;
    color: #fff;
    padding: 1rem;
    border-radius: .3rem;
    padding: 5rem;
    /* width: 20rem; */
    /* height: 20rem; */
    justify-content: center;
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.29);
}

.rainbowbg {
    background: linear-gradient( 45deg, #464689, #541a54 );
}

.welcome-screen input {padding: .5rem;}
.welcome-screen {
    /* background: linear-gradient( 45deg, #464689, #541a54 ); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CORE ---------------------------------------- */
.node{
    /* padding: .7rem; */
    min-height: 2rem;
    border-radius: .3rem;
    border: 1px solid #292929;
    background: #323232;
    min-width: 10rem;
}

/* Property Panel ---------------------------------------- */
.prop {border-top: 1px solid #333333;}
.propName { color: #c6c6c6; width: 6rem; text-align: right; margin-right: 1rem; }
.propValue { color: #fff; font-weight: normal; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

/* App Bar ---------------------------------------- */
.appbar {
    color: white;
    height: 2rem;
    background: #161616;
}

/* MENU */
.menu {
    background-color: #181818;
    color: #fff;
    border-right: 1px solid #2a2a2a;
    width: 20rem;
    flex-shrink: 0;
}
.menuPaneTitle, .menuPaneContent { padding: .5rem; }
.menuPane { border-top: 1px solid #333333; }
.menuPaneTitle {
    color: #c6c6c6;
    background-color: #292929;
    /* font-size: 1.2rem; */
    font-weight: bold;
}

.nodeRef{
    border-radius: 100%;
    line-height:1.3rem;
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid white
}
/* LAYOUT */
/* .dock-divider {background-color: red;} */


.label{
    color: #95a1ac;
    /* font-weight: bold */
}
select,
input {
    background-color: #292929;
    color: #fff;
    border: 1px solid #333333;
    font-size: 1em;
    padding: .1rem .3rem;
};

.dock-tab > div{
    background-color: red;
}

.dock-tabpane {
    box-sizing: border-box;
    /* padding: 10px; */
}

.TreeValue:hover{
    background-color: rgb(62, 62, 62);

}
/* drop zone */
.drop-zone {
    background-color: #292929;
    border: 1px solid #625858;
    border-radius: .3rem;
    padding: 1rem;
    color: #fff;
    /* font-size: 1.2rem; */
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin: .5rem;
}

.drop-zone:drop(active) {
    background-color: #9a7070;
}

/* RC-DOCK --------------------------------------------- */
/* makes tabs smaller to gain some space on small screens */
.dock-extra-content,
.dock-tab,
.dock-nav-more{ height: unset; }
/* remove some padding on tab names */
.dock-tab > div { padding: .3rem !important; }
/* ensure all panes are scollable */
.dock-tabpane,
#node-list{ overflow-y: auto !important; }
/* remove all animations */
.dock-nav-animated ,
.dock-tab,
.dock-content-animated,
.dock-top > div > .dock-nav .dock-ink-bar-animated,
.dock-tab-close-btn,
.dock-nav-list,
.dock-dropdown-menu-item,
.dock-layout > .dock-drop-indicator,
.dock-panel-max-btn,
.dock-panel-min-btn,
.dock-layout > :not(.dock-fbox) .dock-panel.dock-style-headless .dock-bar {
    transition: none;
}

/* ---------------------------------------------------- */
.highlighted {
    background-color: #060101;
    color: rgb(157, 157, 157);
    padding: .3rem;
}
