body {
    margin: 0;
    padding: 0;
    background-color: #383838;
    font-family: 'Roboto', sans-serif;
}
/* COLORS --------------------------------------- */
.g-loaders { background-color: #446011 }
.g-latent { background-color: #464689 }
.g-latent-transform {  background-color: #464689 }
.g-conditioning { background-color: #481413 }
.g-conditioning-style_model {  background-color: #0d430d }
.g-sampling { background-color: #634a1b}
.g-image { background-color: #541a54}

/* UTILS ---------------------------------------- */
.gap { gap: .7rem }
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
.grow { flex-grow: 1; }
.wrap { flex-wrap: wrap; }
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.content-center {justify-content: center;}
.px {padding: 0 .6rem;}
.darker {filter: brightness(.9);}

/* CORE ---------------------------------------- */
button:hover { filter: brightness(1.2); }
button.success { background: #2e8b57; }
button {
    border: none;
    background: gray;
    color: #fff;
    padding: .5rem;
    border-radius: .1rem;
    cursor: pointer;
    outline: none;
}
button.active {
    background: rgb(66, 136, 240);
}
/* CORE ---------------------------------------- */
.node{
    /* padding: .7rem; */
    min-height: 2rem;
    border-radius: .3rem;
    border: 1px solid #292929;
    background: #323232;
}

/* Property Panel ---------------------------------------- */
.prop {border-top: 1px solid #333333;}
.propName { color: #c6c6c6; width: 6rem; text-align: right; margin-right: 1rem; }
.propValue { color: #fff; font-weight: normal; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

/* App Bar ---------------------------------------- */
.appbar {
    color: white;
    height: 2rem;
    background: #161616;
}

/* MENU */
.menu {
    background-color: #181818;
    color: #fff;
    border-right: 1px solid #2a2a2a;
    width: 20rem;
    flex-shrink: 0;
}
.menuPaneTitle, .menuPaneContent { padding: .5rem; }
.menuPane { border-top: 1px solid #333333; }
.menuPaneTitle {
    color: #c6c6c6;
    background-color: #292929;
    /* font-size: 1.2rem; */
    font-weight: bold;
}

.nodeRef{
    border-radius: 100%;
    line-height:1.3rem;
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
    border: 1px solid white
}
/* LAYOUT */
/* .dock-divider {background-color: red;} */