/* Btn Utils ------------------------------------------------------------------------------------- */
.btn-narrow {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.btn-narrower {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

/* ------------------------------------------------------------------------------------------------------- */
.WIDGET-BLOCK {
    margin-left: .6rem;
    margin-top: .1rem;
    /* margin-right: .4rem; */
    /* padding: .4rem; */
}

.animated {
    transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* ------------------------------------------------------------------------------------------------------- */
/* WIDGET SIZES */
.w-input      { width: var(--input-height);  min-width: var(--input-height); }
.h-input      { height: var(--input-height); min-height: var(--input-height); }
.lh-input     { line-height: var(--input-height); }

.COLLAPSE-PASSTHROUGH:hover .WIDGET-COLLAPSE-BTN {
    opacity: 100% !important;
}

/* ------------------------------------------------------------------------------------------- */
/* make sure cushy default inputs look like custom inputs */
.cushy-basic-input:focus {
    outline: none;
    border: 1px solid oklch(from var(--KLR) calc(l + 0.4 * var(--DIR)) c h);
}
.cushy-basic-input:hover {
    background: oklch(from var(--KLR) calc(l + 0.06 * var(--DIR)) c h);
}
.cushy-basic-input {
    /* 🔴 FINISH ME */
    height: var(--input-height);
    min-height: var(--input-height);
    background: oklch(from var(--KLR) calc(l + 0.03 * var(--DIR)) c h);
    border: 1px solid oklch(from var(--KLR) calc(l + 0.1 * var(--DIR)) c h);
    border-radius: .2rem;
    padding: 0 .3rem;
}

/* Form Utils ------------------------------------------------------------------------------------- */
/* Text Shading - These are defined in theme.css*/
.text-shadow {
    text-shadow: 0px 1px 1px var(--text-shadow-color), 1px 1px 1px var(--text-shadow-color), -1px 1px 1px var(--text-shadow-color);
}

.text-shadow-inv {
    text-shadow: 0px 1px 1px var(--text-shadow-color-inv), 1px 1px 1px var(--text-shadow-color-inv), -1px 1px 1px var(--text-shadow-color-inv);
}

/* Select Utils ------------------------------------------------------------------------------------- */
._SelectPopupUI,
._RevealUI {
    box-shadow:
          0    15px 10px -10px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h),
         15px  15px 10px -10px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h),
        -15px  15px 10px -10px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h);
        /* 0 0 10px 1px oklch(var(--b3)); */
}

/* 🔶 deprecated; will be removed soon */
.rsx-field-error {
    border: 1px solid red !important;
}
