/* global vars ------------------------------------------------------------------------------------ */
:root {
    /* --widget-height: 3rem; */
    /* --widget-height: 1.6rem; */
    --widget-height: 2rem;
    --input-height: 1.6rem;
    --input-icon-height: 1.4rem;
}

  .UI-WidgetHeaderContainer
, .UI-WidgetLabelContainer
, .UI-WidgetHeaderControlsContainer
{
    min-height: var(--widget-height);
}


/* .ABDDE { */
/*     border: 1px solid red; */
/* } */

/* Box Utils ------------------------------------------------------------------------------------- */
/* box sizes */
.box.box-square {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box.box-square.box-input {
    width: var(--input-height);
    height: var(--input-height);
    min-width: var(--input-height);
    min-height: var(--input-height);
    @apply text-sm;
}

.box.box-square.box-xs { @apply w-6  h-6; }
.box.box-square.box-sm { @apply w-8  h-8; }
.box.box-square.box-md { @apply w-10 h-10; }
.box.box-square.box-lg { @apply w-12 h-12; }
.box.box-square.box-xl { @apply w-14 h-14; }

.box.box-input {
    height: var(--input-height);
    min-height: var(--input-height);
    @apply text-sm;
}

.box.box-xs { @apply text-xs px-0.5 py-0.5; }
.box.box-sm { @apply text-sm px-1   py-1  ; }
.box.box-md { @apply         px-2   py-1  ; }
.box.box-lg { @apply text-lg px-4   py-2  ; }
.box.box-xl { @apply text-xl px-8   py-8  ; }

/* ------------------------------------------------------------------------------------------------------- */
/* .WIDGET-BLOCK { */
    /* margin-left: .6rem; */
    /* margin-top: .1rem; */
    /* margin-right: .4rem; */
    /* padding: .4rem; */
    /* padding-top: .8rem;  */
    /* padding-bottom: .8rem; */
/* } */

.animated {
    transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* ------------------------------------------------------------------------------------------------------- */
/* INPUT SIZES */
.w-input    {       width: var(--input-height); min-width:  var(--input-height); }
.h-input    {      height: var(--input-height); min-height: var(--input-height); }
.minh-input {  min-height: var(--input-height); }
.minw-input {   min-width: var(--input-height); }
.lh-input   { line-height: var(--input-height); }

.h-input-2 {        height: calc(var(--input-height) - 2px); }
.w-input-2 {         width: calc(var(--input-height) - 2px); }
.minh-input-2 { min-height: calc(var(--input-height) - 2px); }
.minw-input-2 {  min-width: calc(var(--input-height) - 2px); }
.lh-input-2 {  line-height: calc(var(--input-height) - 2px); }

/* WIDGET SIZES */
.w-widget    {       width: var(--widget-height); min-width:  var(--widget-height); }
.h-widget    {      height: var(--widget-height); min-height: var(--widget-height); }
.minh-widget {  min-height: var(--widget-height); }
.minw-widget {   min-width: var(--widget-height); }
.lh-widget   { line-height: var(--widget-height); }

.h-widget-2 {        height: calc(var(--widget-height) - 2px); }
.w-widget-2 {         width: calc(var(--widget-height) - 2px); }
.minh-widget-2 { min-height: calc(var(--widget-height) - 2px); }
.minw-widget-2 {  min-width: calc(var(--widget-height) - 2px); }
.lh-widget-2 {  line-height: calc(var(--widget-height) - 2px); }


.COLLAPSE-PASSTHROUGH:hover .WIDGET-COLLAPSE-BTN {
    opacity: 100% !important;
}

/* ------------------------------------------------------------------------------------------- */
/* make sure cushy default inputs look like custom inputs */
.csuite-input:focus,
.csuite-basic-input:focus {
    outline: none;
    border: 1px solid oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h);
}
.csuite-input:hover,
.csuite-basic-input:hover {
    background: oklch(from var(--KLR) calc(l + 0.06 * var(--DIR)) c h);
}
.csuite-input,
.csuite-basic-input {
    /* 🔴 FINISH ME */
    min-height: var(--input-height);
    background: oklch(from var(--KLR) calc(l + 0.03 * var(--DIR)) c h);
    border: 1px solid oklch(from var(--KLR) calc(l + 0.1 * var(--DIR)) c h);
    border-radius: .2rem;
    padding: 0 .3rem;
}
.csuite-basic-input {
    height: var(--input-height);
}

/* Form Utils ------------------------------------------------------------------------------------- */
/* Text Shading - These are defined in theme.css*/
.text-shadow {
    text-shadow: 0px 1px 1px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h),
    1px 1px 1px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h),
    -1px 1px 1px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h);
}

.text-shadow-inv {
    text-shadow: 0px 1px 1px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h),
    1px 1px 1px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h),
    -1px 1px 1px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h);
}

/* Select Utils ------------------------------------------------------------------------------------- */
._SelectPopupUI,
._RevealUI {
    box-shadow:
          0    15px 10px -10px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h),
         15px  15px 10px -10px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h),
        -15px  15px 10px -10px oklch(from var(--KLR) calc(l + 0.2 * var(--DIR)) c h);
        /* 0 0 10px 1px oklch(var(--b3)); */
}

/* 🔶 deprecated; will be removed soon */
.rsx-field-error {
    border: 1px solid red !important;
}
