
html, body, #root {
    height: 100%;
}


.scroll { overflow:auto; }
.gap { gap: .7rem }
.gap1 { gap: .3rem }
.row { display: flex; flex-direction: row; }
.bord {border: 1px solid rgb(116, 116, 116); border-radius: .3rem; padding: .2rem; }
.col { display: flex; flex-direction: column; }
.grow { flex-grow: 1; }
.wrap { flex-wrap: wrap; }
.float-left { float: left; }
.absolute { position: absolute; }
.right-0 { right: 0; }
.right-1 { right: .5rem; }
.relative { position: relative; }
.float-right { float: right; }
.space-between { justify-content: space-between; }
.content-center {justify-content: center; }
.pointer { cursor: pointer; }


.grid-visible > * { border: 1px solid #3d3d3d; padding:.3rem; border-radius: .5rem; }
.grid-visible { gap: .5rem;}

/* Property Panel ---------------------------------------- */
.prop {border-top: 1px solid #3d3d3d; line-height: 1rem}
.prop:nth-child(1) { border:none;}
.propName { width: 6rem; text-align: right; margin-right: 1rem;; }
.propValue { font-weight: normal; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.nodeRef{
    border-radius: 100%;
    line-height:1.3rem;
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
    /* border: 1px solid white */
}


/* --------- */
body {
    --loaders: #d0eaa0;
    --latent: #b4b4e7;
    --latent_transform: #a4a4d7;
    --conditioning: #d29e9e;
    --conditioning_style_model: #acdaac;
    --sampling: #ddcdb0;
    --image: pink;
    --cushy-border: var(--fallback-bc,oklch(var(--bc)/0.2));
    --cushy-border-2: var(--fallback-bc,oklch(var(--bc)/0.4));
    --cushy-border-3: var(--fallback-bc,oklch(var(--bc)/0.6));

}
/* .rs-panel {background: #373737; flex-shrink: 0; border-radius: 0!important;} */
#CushyStudio.dark{background: '#1e1e1e'}
#CushyStudio.dark{background: '#1e1e1e'}

/* denser forms */
.hljs { display: block; }
.material-symbols-outlined{ font-size: 1.3em; }

/* scrollbar -------------------------------------------------------------------------------------------------------------------------------- */
*::-webkit-scrollbar-thumb {
    background-color:
        color-mix(
            in oklch,
            oklch(var(--p)),
            transparent 30%
        )
}

/*  */
.noscrollbar::-webkit-scrollbar { display: none; }

*::-webkit-scrollbar { width: 8px; height: 8px; }
*::-webkit-scrollbar-corner { background: rgba(0,0,0,0); }
*::-webkit-scrollbar-track { background-color: rgba(0,0,0,0); }
*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 0;
    /* 4px solid rgba(0,0,0,0); */
    background-clip: content-box;
    min-width: 24px;
    min-height: 24px;
}

/* scrollbar -------------------------------------------------------------------------------------------------------------------------------- */
.fade-in{animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}


.scale-in-center{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}


/* ------------------------ */
hr {
    margin: 8px;
    padding: 0;
    height: 1px;
}

pre {
    margin: 0;
    padding: 0;
}


/* -------------- */

.fade-in{animation:fade-in .2s cubic-bezier(.39,.575,.565,1.000) both}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}