/* ---------------------------------------------------------------------------------------------- */

#CushyStudio:focus {
    outline: none;
}

.subtle {
    @apply text-sm text-gray-500 italic;
}


/* ---------------------------------------------------------------------------------------------- */
/* Should be used for right-click/context/pop-up menus */
.MENU-ROOT {
    /* padding: 0.5rem; */
    padding: 4px;
}

.MENU-HEADER {
    border-radius: 4px;
    padding: 0px 4px 0px 4px;
    display: flex;
}

.MENU-CONTENT {
    border-radius: 4px;
    padding: 4px;
    /* background: oklch(var(--b3)) */
}

/* ------------------------------------------------------------------------------------- */
/* PanelHeaderUI */
.CSHY-panel-header {
    height: calc(var(--input-height) + 8px);
    min-height: calc(var(--input-height) + 8px);

    overflow-x: scroll;
    overflow-y: hidden;

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

.CSHY-panel-header::-webkit-scrollbar {
    display: none;
}



/* border stuff ----------------------------------------------------------------------------------- */
.bd { border: 2px solid oklch(var(--p)) }
.bd1 { border: 1px solid oklch(var(--p)) }
.bdl1 { border-left: 1px solid oklch(var(--p)) }
.konvajs-content { border: 1px solid var(--fallback-bc,oklch(var(--bc)/0.2)); }
.virtualBorder { border: 1px solid var(--fallback-bc,oklch(var(--bc)/0.2)); }
.virtualBorder2 { border: 1px solid var(--fallback-bc,oklch(var(--bc)/0.5)); }


.animated {
    transition: height 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

 /* helpers ----------------------------------------------------------------------------------- */
.flex-2{ flex: 2 1 0%; }

/* TODO: check if unused, and if so, remove */
.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;
}
/* semantic stuff ---------------------------------------------------------------------------- */
.cushy-panel-header {
    @apply flex overflow-auto gap-2 bg-base-300 w-full flex-shrink-0;
}

/* ------------------------------------------------------------------------------------------- */
.flexlayout__tab {
    display: flex;
    flex-direction: column;
}
.flexlayout__tabset_tabbar_inner_tab_container  {
    padding-left: 0px;
    padding-right: 0px;
}
.flexlayout__tab_button {
    gap: .1rem
}
.flexlayout__tabset-selected {
    background-image: none;
}

._MenuItem > div  {
    padding: 0.3em 0.5em;
}



/* COMFY NODES -------------------------------------------------------------------------------------- */
#CushyStudio.light {
    --comfy-default: #d6d6d6;
    --comfy-primitive: #d1c9b2;
    --comfy-loader: #c9d7af;
    --comfy-latent: #9292c6;
    --comfy-conditioning: #d6b2b1;
    --comfy-sampl: #ccbb9c;
    --comfy-image: #deb1b1;
}

#CushyStudio.dark {
    --comfy-default: #1e1e1e;
    --comfy-primitive: #554c32;
    --comfy-loader: #446011;
    --comfy-latent: #464689;
    --comfy-conditioning: #481413;
    --comfy-sampl: #634a1b;
    --comfy-image: #7e3a3a;
}

/* ------- Helpers and Various Fixes ------- */

/*#region*/ /* Hide Scrollbar */
/* Useful for very narrow places where a scrollbar will take up a ton of space */
.hide-horizontal-scroll::-webkit-scrollbar, .hide-vertical-scroll::-webkit-scrollbar {
    height:0px;
    width: 0px;
    display: none !important;
}

.hide-horizontal-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}

.hide-vertical-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
}

.hide-horizontal-scroll, .hide-vertical-scroll {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}
/*#endregion*/ /* Hide Scrollbar */

/* Operator Input blocker */
#input-blocker {
    /* position: fixed; */
    top: 0;
    left: 0;
    /* width: 100%; */
    /* height: 100%; */
    /* background-color: transparent; */
    /* pointer-events: none; */
    z-index: 99999999999;
    /* background: red; */
}

.input-blocker-active {
    display: unset;

}
