/* TABS --------------------------------------- */
.flexlayout__tab,
.flexlayout__tabset {
    background: transparent;
}
#CushyStudio.dark .flexlayout__tabset-selected{
    background: #181818;
}
/* BACKGROUND --------------------------------------- */
#CushyStudio.dark .bg-contrasted-gradient {
    background: linear-gradient(337deg, #202020, #0c0c0c);
}
#CushyStudio.light .bg-contrasted-gradient {
    background: linear-gradient(337deg, #f7f7f7, #e9e9e9);
}

/* TEXTS ----------------------------------------- */
#CushyStudio.dark .text-light {
    color: #858585;
}
#CushyStudio.light .text-light {
    color: #1a1a1a;
}

/* APP BAR --------------------------------------- */
#CushyStudio.dark #main-navbar,
#CushyStudio.dark #CushyAppBar {
    /* background: linear-gradient(0, #1a1a1a 0%, #3e3e45 100%); */
    background: rgb(0, 0, 0);
    /* background: linear-gradient(-90deg, #1a1a1a 0%, #3e3e45 100%); */
}
#CushyStudio.light #CushyAppBar {
    background: linear-gradient(-90deg, #f7f7f7 0%, #e9e9e9 100%);
}

/* COMFY NODES ------------------------------------ */
#CushyStudio.light {
    --comfy-default: #d6d6d6;
    --comfy-primitive: #d1c9b2;
    --comfy-loader: #c9d7af;
    --comfy-latent: #9292c6;
    --comfy-conditioning: #d6b2b1;
    --comfy-sampl: #ccbb9c;
    --comfy-image: #deb1b1;
}

#CushyStudio.dark {
    --comfy-default: #1e1e1e;
    --comfy-primitive: #554c32;
    --comfy-loader: #446011;
    --comfy-latent: #464689;
    --comfy-conditioning: #481413;
    --comfy-sampl: #634a1b;
    --comfy-image: #7e3a3a;
}
