
.virtualBorder {
    border: 1px solid var(--fallback-bc,oklch(var(--bc)/0.2));
}
/* COMFY NODES ------------------------------------ */
#CushyStudio.light {
    --comfy-default: #d6d6d6;
    --comfy-primitive: #d1c9b2;
    --comfy-loader: #c9d7af;
    --comfy-latent: #9292c6;
    --comfy-conditioning: #d6b2b1;
    --comfy-sampl: #ccbb9c;
    --comfy-image: #deb1b1;
}

#CushyStudio.dark {
    --comfy-default: #1e1e1e;
    --comfy-primitive: #554c32;
    --comfy-loader: #446011;
    --comfy-latent: #464689;
    --comfy-conditioning: #481413;
    --comfy-sampl: #634a1b;
    --comfy-image: #7e3a3a;
}
