/* ._TreeUI input {
    background-color: #c0e3c0;
} */
._TreeUI ._dim {
    /* font-style: italic; */
    /* font-size: 0.6em; */
    color: #888;
    line-height: 1.3rem;
}
._TreeUI ._line {
    display: flex;
    flex-direction: row;
}

._TreeUI ._line:hover {
    /* background: oklch(var(--s)/.3); */
    outline: 1px solid oklch(var(--p));
}
/* ._TreeItemTitle */
._TreeUI ._selected {
    background: oklch(var(--p)/.4);
}

._TreeUI ._gutter {
    display: flex;
}
