/* ._TreeUI input {
    background-color: #c0e3c0;
} */
._TreeUI ._dim {
    /* font-style: italic; */
    /* font-size: 0.6em; */
    color: #888;
    line-height: 1.3rem;
}
._TreeUI ._line {
    display: flex;
    flex-direction: row;
}

._TreeUI ._line:hover {
    /* background: oklch(var(--s)/.3); */
    outline: 1px solid oklch(var(--p));
}
/* ._TreeItemTitle */
._TreeUI ._selected {
    background: oklch(var(--p)/.2);
    outline: 1px solid oklch(var(--p)/.5);
}

._TreeUI ._gutter {
    display: flex;
}

/* used for indentation */
/* e.g. https://cushy.fra1.cdn.digitaloceanspaces.com/rvion/abe5a6c0a5600efe290e52c2083a5728a1bc378a.jpg */
.cushy-borderLeft {
    border-left: 1px solid oklch(var(--bc)/0.2);
}
