/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    /* background: #202020; */
}

.scroll { overflow:auto; }
.inset-0 { top: 0; left: 0; right: 0; bottom: 0; }
.h100 { height: 100%; }
.gap { gap: .7rem }
.gap1 { gap: .3rem }
.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }
.grow { flex-grow: 1; }
.wrap { flex-wrap: wrap; }
.float-left { float: left; }
.absolute { position: absolute; }
.right-0 { right: 0; }
.right-1 { right: .5rem; }
.relative { position: relative; }
.float-right { float: right; }
.space-between { justify-content: space-between; }
.justify-end { justify-content: flex-end; }
.items-center { align-items: center; }
.items-start { align-items: flex-start; }
.items-baseline { align-items: baseline; }
.content-center {justify-content: center; }
.self-stretch { align-self: stretch; }
.self-start { align-self: flex-start; }
.darker { filter: brightness(.9); }
.pointer { cursor: pointer; }


/* Property Panel ---------------------------------------- */
.prop {border-top: 1px solid #3d3d3d; line-height: 1rem}
.prop:nth-child(1) { border:none;}
.propName { width: 6rem; text-align: right; margin-right: 1rem;; }
.propValue { font-weight: normal; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.nodeRef{
    border-radius: 100%;
    line-height:1.3rem;
    text-align: center;
    width: 1.3rem;
    height: 1.3rem;
    /* border: 1px solid white */
}


/* --------- */
body {
    --loaders: #d0eaa0;
    --latent: #b4b4e7;
    --latent_transform: #a4a4d7;
    --conditioning: #d29e9e;
    --conditioning_style_model: #acdaac;
    --sampling: #ddcdb0;
    --image: pink;
    /*  */
    --yarl__carousel_padding_px: 0px;
    --yarl__thumbnails_container_padding: 0px;
    --yarl__thumbnails_thumbnail_gap: 0;
    --yarl__thumbnails_thumbnail_width: 80px;
    --yarl__thumbnails_thumbnail_height: 80px;
    /* --yarl__thumbnails_thumbnail_background: white; */
    /* --yarl__container_background_color: white; */
    /* --yarl__color_backdrop: white; */

    /* --yarl__navigation_button_padding: .1rem; */
    /* --yarl__thumbnails_container_padding: .1rem; */
    /* --yarl__carousel_padding_px: 0; */
}
.yarl__root {min-height: 512px !important;}
.yarl__slide {padding: 0 !important;}
/*  */

/* .rs-panel {background: #373737; flex-shrink: 0; border-radius: 0!important;} */
#CushyStudio.dark{background: '#1e1e1e'}
#CushyStudio.dark{background: '#1e1e1e'}

#CushyStudio.white
#CushyStudio.white

.rs-panel.nobg {background: none; flex-shrink: 0; border-radius: 0!important;}
/* .rs-panel .rs-panel {background: #464646; flex-shrink: 0;} */

/* .col-folder {background: black !important;} */
.col-info {background: #3d5282 !important;}
/* .col-form {background: #39254c !important;} */

.rs-panel-body {padding: .5rem !important;}
.rs-panel-header {
    padding-left: .5rem!important;
    padding-right: .5rem!important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    font-size: 1rem !important;
    /* font-weight: bold !important; */
}
/* .rs-panel-title {font-size: 1.2rem;} */
.rs-panel-collapsible>.rs-panel-header>.rs-icon {
    right: 5px !important;
    top: .1rem !important;
}
/*  */
/* .rs-message-container {padding: .4rem !important;} */
.rs-message-icon-wrapper .rs-icon {
    font-size: 1.3rem;
 }
.rs-message.rs-message-info {
    border: 1px solid #3d8ec1;
 }
 .rs-message.rs-message-warning {
    border: 1px solid #ffb300;
 }
 .rs-message.rs-message-error {
    border: 1px solid #cf5c36;
    background: none;
 }
 .rs-message-container {
    padding: 0.1rem !important;
    /* 20px 28px 20px 20px */
 }

.react-transform-wrapper { max-width: 100%; }
.rs-rate-character { margin-right: .1rem !important; }
.rs-progress-line {padding: 0 !important}
.rs-panel-collapsible>.rs-panel-header>.rs-icon {top:14px;}
/* denser forms */
.rs-form:not(.rs-form-inline) .rs-form-group:not(:last-child) {margin-bottom: 0 !important;}
.rs-form-horizontal .rs-form-group .rs-form-control-label {padding: 0 !important;}
.hljs { display: block; }


/* transition to grow from 0 height to normal height */
.transition-height {
    /* transition: height .3s ease-in-out; */
    animation: slideInFromTop 1s ease-out;

    /* height: 0; */
}

@keyframes slideInFromTop {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}



.group-of-show-html > div {justify-content: end;}


.step-container {
    border: 1px solid rgb(92, 92, 92);
    border-bottom: none;
}
.graph-container {
    border: 1px solid rgb(136, 104, 45);
}

.rs-divider {
    margin: 12px 0 !important;
}


/* ------------------ */

.scale-in-center{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}


/* :focus-visible { outline: none; } */

.smalltitle { font-weight: bold; }
.material-symbols-outlined{ font-size: 1.3em; }


/* ------ rsuite/messages ------ */
.rs-message-info {
    background: none;
    border: 2px solid var(--rs-message-info-bg);
}
/* --------------------------- */


.rs-nav.xs .rs-nav-item {
    padding: 0.3rem !important;
}

/* ------------------------------ */
.rs-tree-node{
    /* padding: 0!important; */
    margin: 0!important;
    display: flex;
}
.rs-tree-node-label {
    line-height: 1rem !important;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rs-tree-node-label-content {
    border: none;
    width: 100%;
    display: block;
}
.rs-tree-node-focus {
    outline: 1px solid #266d9a;
    /* background-color:#414141; */
}
.rs-tree-node-label-content {
    display: flex;
    gap: .1rem;
    padding: 0 0 !important;
}
.rs-tree-node-expand-icon-wrapper>.rs-tree-node-custom-icon,
.rs-tree-node-expand-icon-wrapper>.rs-tree-node-loading-icon{
    height: unset !important;
}

.rs-tree {
    overflow-x: hidden!important;
    max-height: unset;
}

/* scrollbar ----------------------- */

/* THEME */
#CushyStudio.dark *::-webkit-scrollbar-thumb { background-color: #4b4b4b; }
#CushyStudio.light *::-webkit-scrollbar-thumb { background-color: #c1c1c1; }

/*  */
.noscrollbar::-webkit-scrollbar { display: none; }

*::-webkit-scrollbar { width: 5px; height: 5px; }
*::-webkit-scrollbar-corner { background: rgba(0,0,0,0); }
*::-webkit-scrollbar-track { background-color: rgba(0,0,0,0); }
*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 0;
    /* 4px solid rgba(0,0,0,0); */
    background-clip: content-box;
    min-width: 24px;
    min-height: 24px;
}
/*  */


.flip-horizontal-bottom{-webkit-animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) both;animation:flip-horizontal-bottom .4s cubic-bezier(.455,.03,.515,.955) both}
@-webkit-keyframes flip-horizontal-bottom{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-180deg);transform:rotateX(-180deg)}}@keyframes flip-horizontal-bottom{0%{-webkit-transform:rotateX(0);transform:rotateX(0)}100%{-webkit-transform:rotateX(-180deg);transform:rotateX(-180deg)}}


.swing-in-top-fwd{animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both}
@keyframes swing-in-top-fwd{0%{transform:rotateX(-100deg);transform-origin:top;opacity:0}100%{transform:rotateX(0deg);transform-origin:top;opacity:1}}


.scale-in-center{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}

.fade-in{animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
@keyframes fade-in{0%{opacity:0}100%{opacity:1}}


/* ------------------------ */
hr {
    margin: 8px;
    padding: 0;
    height: 1px;
}


._MD {
    border-left: 3px solid #266d9a;
    padding-left: .2rem
}
._MD table, ._MD th, ._MD td {
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
}

.rv-tooltip {display: none;}
.rv-tooltip-container:hover { display: relative;}
.rv-tooltip-container:hover .rv-tooltip {display: block; position: absolute; background: #333333; z-index: 9999;}

.rs-modal-body {margin-top: 0 !important;}
.rs-modal-content {padding: 10px !important;}


._WidgetChoicesUI {
    width: 100%;
}

._WidgetWithLabelUI {
    background-color: #28282868;
}

/* ._WidgetListUI {
    border: 1px solid blue;
} */

.rs-input[type='color']{
    padding: 0!important;
}

.xxxxx {
    /* border:10px solid blue; */
    box-shadow: 0 0 8px 0px #63a9c5;

    /* box-shadow:
        -5px -5px 5px -5px var(--color1),
        5px 5px 5px -5px var(--color2),
        -7px -7px 10px -5px transparent,
        7px 7px 10px -5px transparent,
        0 0 5px 0px rgba(255, 255, 255, 0)
        ,0 55px 35px -20px rgba(0, 0, 0, 0.5)
    ; */



}

/* .xxxxx:hover {
    box-shadow:
        -20px -20px 30px -25px var(--color1),
        20px 20px 30px -25px var(--color2),
        -7px -7px 10px -5px var(--color1),
        7px 7px 10px -5px var(--color2),
        0 0 13px 4px rgba(255, 255, 255, 0.3),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);
} */
