.imageGridContainer {
    max-width: 512px;
    max-height: 512px;
    overflow: auto;
  }

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 10px), 1fr));
    gap: 16px;
  }
  
.gridItem {
    position: relative;
    cursor: pointer;
  }

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
  
  /* Add the rest of the styles from your inline styles, using appropriate class names */
  
.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

  .modalImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  
.modalContent {
    background-color: #333;
    padding: 1rem;
    max-width: calc(100% - 4rem);
    max-height: calc(100% - 4rem);
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.button {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    color: #333333;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    transform-origin: center;
    transition: all 0.1s ease-in-out;
  }
  
.button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
  
  
.hoverEffect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 6px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    pointer-events: none;
}
    
.selectedBorder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 6px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    pointer-events: none;
}
    
.buttonClose {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.buttonClose:active {
    transform: scale(0.9);
}
    
.buttonPrev {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%) scale(1);
}

.buttonPrev:active {
    transform: translateY(-50%) scale(0.9);
}
    
.buttonNext {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%) scale(1);
}

.buttonNext:active {
    transform: translateY(-50%) scale(0.9);
}
    
.buttonSelect {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%) scale(1);
}
.buttonSelect:active {
    transform: translate(-50%, 0) scale(0.9);
}


  

  
